/* グローバル設定 */

body {
    background-color: #252525;
    margin: 0;
    /* Remove gaps at the top */
    padding-top: 60px;
    /* Ensures content doesn’t overlap with the fixed header */
}


/* Header styling */

.navbar {
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-brand img {
    height: 40px;
    /* Adjust to make the logo smaller */
}

.navbar-end {
    margin-right: 20px;
}


/* Custom styling for the purchase link */

.purchase-button,
.view-more-button {
    background-color: #333;
    /* Dark background */
    color: #e4e4e4;
    /* Light text to contrast */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.purchase-button:hover,
.view-more-button:hover {
    background-color: #0056b3;
    color: white;
}


/* Ensures the body doesn't overlap with the fixed navbar */

body {
    margin: 0;
    padding-top: 60px;
    background-color: #252525;
    color: #b8b8b8;
}


/* セクション全体のスタイル */

section {
    max-width: 1480px;
    margin: auto;
}


/* 中央に配置されるロゴの設定 */

#circle-logo {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

#circle-logo img {
    width: 100%;
    height: auto;
}


/* タイトルとサブタイトルのフォントサイズと色 */

.title {
    font-size: 1.1rem;
    color: #e4e4e4;
}

.subtitle {
    font-size: 1rem;
    color: #e4e4e4;
}

p {
    font-size: 0.9rem;
    color: #e4e4e4;
    padding: 0 0.5rem;
    margin: 3px 0;
}


/* タイルのスタイル */

.content-tiles {
    display: flex;
    flex-direction: column;
    max-width: 1480px;
    margin: auto;
}

.tile-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile-item {
    box-sizing: border-box;
    margin: 10px;
}

.tile-item img {
    width: 100%;
    height: auto;
}


/* 1列目は3つのタイル */

.row-1 .tile-item {
    flex: 1 1 calc(33.333% - 20px);
}


/* 1列目は6つのタイル */

.row-2 .tile-item {
    flex: 1 1 calc(16.666% - 20px);
}


/* 3列目は2つのタイルで文字ベースのタイル */

.row-3 .tile-item {
    flex: 1 1 calc(50% - 20px);
    background-color: #292929;
    padding: 20px;
}


/* 活動履歴,メンバー一覧 */

.member-tile,
.activity-history-tile {
    background-color: #f4f4f4;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-tile h2,
.activity-history-tile h2 {
    font-size: 1.4rem;
    margin: 0;
}

.activity-item h3 {
    margin: 5px 0;
    font-size: 1.1rem;
}

.member-tile p,
.activity-item p {
    margin: 5px 0;
}


/* メンバー一覧*/

.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* アイテムの高さを均等にする */
    align-items: stretch;
    color: #e4e4e4;
}

.member {
    flex: 0 1 calc(33.33% - 10px);
    margin-bottom: 10px;
    text-align: center;
    min-height: 50px;
    display: flex;
    justify-content: center;
    /* アイテムの内容を中央に揃える */
    align-items: center;
}


/* フッター */

footer {
    padding: 1rem 3rem 2rem;
    text-align: center;
    color: #e4e4e4;
}


/* リンク画像ホバー効果 */

.link-image:hover img {
    opacity: 0.8;
    transition-duration: 0.2s;
    transform: scale(1.03);
    z-index: 1;
}


/* スマホレイアウト */

@media (max-width: 768px) {
    .navbar-brand {
        width: 100%;
        /* 幅を100%にしてロゴを左揃えにする */
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .purchase-button {
        /* 購入リンクを非表示に */
        display: none;
    }
    /* 1列目と3列目は1つずつ */
    .row-1 .tile-item,
    .row-3 .tile-item {
        flex: 1 1 100%;
    }
    /* 2列目は2つずつ */
    .row-2 {
        display: flex;
        flex-wrap: wrap;
    }
    .row-2 .tile-item {
        flex: 1 1 calc(50% - 20px);
    }
}